<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=320, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="css/responsive.css" >
        <title>Pear one</title> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body >
        <div id="header3">
            <pre></pre>
        <div class="menusite" >
            <input id="menu__toggle" type="checkbox" >
            <label class="menu__btn" for="menu__toggle" >
            <span></span>
            </label>
          <ul class="menu__box" >
            <li><a class="menu__item" href="index.html">Home</a></li>
            <li><a class="menu__item" href="#">Company</a></li>
            <li><a class="menu__item" href="#">Profile</a></li>
            <li><a class="menu__item" href="Tomato all.html">Products</a></li>
            <li><a class="menu__item" href="#">Services</a></li>
            <li><a class="menu__item" href="#">R&D</a></li>
            <li><a class="menu__item" href="contactus.html">Contact</a></li>
          </ul>
        </div>
        <div class=container>
            <div class="row">
            <img id="pc" src="img/Logo.png">
            
            <div class=nav>
                
                <form>
                    <div class=searchinput>
                        <input name=search placeholder=Search>
                        <img src="img/Vector.png">
                    </div>
                </form>
                
                <nav>
                    
                    <a href="index.html">Home</a>
                    <a href=#>Company</a>
                    <a href=#>Profile</a>
                    <a href="Tomato all.html">Products</a>
                    <a href=#>Services</a>
                    <a href=#>R&D</a>
                    <a href="contactus.html">Contact</a> 
                    </div>
                </nav>
                
            </div>
        </div>
        </div>
        
        <div class="container">
            <a href="Tomato all.html"><img id="picr" style="padding-right: 10px; padding-top: 10px;" src="img/Arrow 1.png"></a>
            
        </div>
        <a class="bok" href="Tomato all.html">Return to all tomatoes</a>
        <div style="background-image: url(img/Unionto.png); overflow: hidden;" >
            <div id=pear  class="container">
                <div   class="row">
                    <div class="col-6" >
                        <p class="h1t">{{product.title}}<b class="bgren"><br> {{product.short_text}}</b></p>
                        <p class="offer_star">
                            * * * * *
                            </p>
                            <img id="picrb" src="img/Group 17.png">
                            <p class="ttext">Very high yield and<br> excellent fruits quality!
                            </p>
                            <p class="char">CHARACTERISTICS</p>
                            <img id="lc1" src="img/Line 2.png">
                            <p class="toffer_text" ><b>Resistance</b><br>
                                HR: ToMV:0-2; Fol: 1,2; Ve/Vd;<br> 
                                IR: TYLCV
                                </p>
                            
                    </div>
                    <div class="col-6">
                        <img id="spiker3" :src="'images/'+product.image" style="margin-bottom: 30px;">
                        <button type="button" class="btn btn-outline-success btn-rounded" style=" padding: 20px,10px;" @click.prevent="addToCart(product.id)" v-if="!btnVisible"><b> Add to cart</b></button>
                        <button type="button" class="btn btn-outline-success btn-rounded" style=" padding: 20px,10px;" v-on:click='btnClick' v-if="btnVisible"><b> Go to cart</b></button>
                        
                        
                    </div>
                <div class="col-6">
                    <p class="char" style="margin-block-start: 30px;">Plant</p>
                    <img id="lc1" src="img/Line 2.png" style="margin-block-start: -20px;">
                    <ul style="margin-inline-start: -15px; color:#57984C; font-size:17px">
                        <li><p class="toffer_text" style="margin-bottom: -0px;">Strong vigor that provides good leaf coverage. </p></li>
                        <li><p class="toffer_text" style="margin-bottom: -0px;">Very high productivity with good fruit setting.</p></li>
                        <li><p class="toffer_text" style="margin-bottom: -0px;">Early matured variety.</p></li>
                        <!-- добавьте пункты сюда -->
                      </ul>
                </div>
                <div class="col-6">
                    <p class="char" style="margin-block-start: 30px; ">Cycle</p> 
                    <img id="lc1" src="img/Line 2.png" style="margin-block-start: -20px;">
                    <ul style="margin-inline-start: -15px; color:#57984C;font-size:17px">
                        <li><p class="toffer_text" style="margin-bottom: -0px;">Spring</p></li>
                        <li><p class="toffer_text" style="margin-bottom: -0px;"> Fall </p></li>
                        <li><p class="toffer_text" style="margin-bottom: -0px;">Winter</p></li>
                        <!-- добавьте пункты сюда -->
                      </ul>
                </div>
                <div class="col-6">
                    <p class="char" style="margin-block-start: 30px;">Fruit</p>
                    <img id="lc1" src="img/Line 2.png" style="margin-block-start: -20px;">
                    <ul style="margin-inline-start: -15px; color:#57984C; font-size:17px">
                        <li><p class="toffer_text" style="margin-bottom: -0px;">Long shelf life on plant and post harvest.</p></li>
                        <li><p class="toffer_text" style="margin-bottom: -0px;">Nice shiny attractive deep red color.</p></li>
                        <li><p class="toffer_text" style="margin-bottom: 140px;">Average fruit size: 140 – 160 grams.</p></li>
                        <!-- добавьте пункты сюда -->
                      </ul>
                </div>
                <div class="col-6">
                    <p class="char" style="margin-block-start: 30px; ">Color</p> 
                    <img id="lc1" src="img/Line 2.png" style="margin-block-start: -20px;">
                    <p class="toffer_text">Red</p>
                </div>
            </div>
            </div>
        </div>
        <div class="fut5">
            <div class="container">
                <div class="row">
                    <div id="Text1" class="col-9" >
                        <span > <a class="link" href="">PROFILE</a>
                            <a class="link" href=""> MANAGEMENT</a>
                             <a class="link" href="">  PRODUCTS</a>
                             <a class="link" href=""> R&D</a>
                            <a class="link" href=""> LINKS</a>
                            <a class="link" href=""> SITEMAP</a> 
                             <a class="link" href=""> CONTACT</a>
                        </span>
                    </div>
                    <div id="lin" class=" col-3">
                        <span>
                            <img src="img/icosoc/Ico_in.png">
                            <img src="img/icosoc/Ico_inst.png">
                            <img src="img/icosoc/Ico_tube.png">
                            <img src="img/icosoc/Ico_tw.png">
                            <img src="img/icosoc/Ico_fb.png">
                            <pre></pre>
                        </span>
                    </div> 
            </div>  
        </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <p class="col-12"></p>
    
                    <a id="foot" class="col" href="">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</a>
                </div>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>